<div class="ui menu">
    <div class="menu">
        <a class="ui item" href="/gallery/search"> <i class="search link icon"></i> </a>
        <a class="ui item" href="/gallery/add">add </a>
    </div>
</div>