<div class="ui secondary menu">
    <a class="ui item" href=""><h3>Welcome!Just look around...</h3></a>
    <div class="right menu">
        <% if(user) { %>
        <a class="ui item" href="/signout" style="text-decoration:underline">Logout </a>
        <% } else {%>
        <!--<a class="ui item" href="/signup">Sign Up </a>-->
        <a class="ui item" href="/signin" style="text-decoration:underline">Sign In </a>
        <% } %>
    </div>
</div>