<div class="ui secondary menu">
    <form class="ui form item" method="get">
        <div class="inline field">
            <div class="ui search">
                <div class="ui icon input">
                    <input placeholder="title" type="text" name="title">
                </div>
                <input class="ui button" type="submit"  value="search">
            </div>
        </div>
    </form>
    <% if(user) { %>
    <a class="ui item" href="/gallery/add">add </a>
    <% } %>
</div>