<div class="ui secondary menu">
    <form class="ui form item" method="get">
        <div class="inline field">
            <div class="ui search">
                <div class="ui icon input">
                    <input placeholder="title" type="text" name="title">
                </div>
                <input class="ui black basic button" type="submit"  value="search" style="vertical-align: bottom">
            </div>
        </div>
    </form>
    <% if(user) { %>
    <a class="ui  black basic  button item" href="/gallery/add" style="margin-left: -1.2rem">add </a>
    <% } %>
</div>