<div class="ui sidebar vertical menu left thin visible">
  <a class="item" href="/gallery">
    <i class="file image outline icon"></i> Gallery
  </a>
  <a class="item">
    <i class="music icon"></i> Music
  </a>
  <div class="ui selection dropdown">
    <input type="hidden" name="gender">
    <i class="dropdown icon"></i>
    <div class="default text">Themes</div>
    <div class="menu backgrounds">
      <div class="item" data-value="1">背景1</div>
      <div class="item" data-value="2">背景2</div>
      <div class="item" data-value="3">背景3</div>
      <div class="item" data-value="5">背景4</div>
    </div>
  </div>
</div>