<div class="backdrop"></div>
<script>
    var val = localStorage.getItem('val') || 8;
    $('.backdrop').css('background-image', 'url("/img/bgs/bg-0' + val + '.jpg")')
    $('.special.cards .image').dimmer({
        on: 'hover'
    });
    $('.ui.dropdown').dropdown();
    $('.backgrounds .item').click(function () {
        var val = $(this).attr('data-value');
        localStorage.setItem('val',val);
        $('.backdrop').css('background-image', 'url("/img/bgs/bg-0' + val + '.jpg")');
    });
</script>
</body>
</html>