<%- include('header') %>
<div class="dimmed pusher">
    <%- include('components/menu') %>
    <div id="player"></div>
</div>
<script>
    $(document).ready(function(){
        $.get('/json/musics.json',function(result){
            var myPlaylist = result;
            $('body').ttwMusicPlayer(myPlaylist, {
                autoPlay:false,
                description:'',
                jPlayer:{
                    swfPath:'/plugin/jquery-jplayer'
                }
            });
        });
    });
</script>
<%- include('footer') %>