<%- include('header') %>
<div class="dimmed pusher">
    <form class="ui form" method="post">
        <div class="inline field">
            <div class="ui search">
                <div class="ui icon input">
                    <input placeholder="title" type="text" name="title">
                </div>
                <input class="ui button" type="submit" value="search">
            </div>
        </div>
    </form>
</div>
<%- include('footer') %>